<div class="enhanced-upload-skeleton">

	<div class="skeleton dropzone-skeleton"></div>

	<!-- Header mit Toggle Icon -->
	<div class="header-skeleton">
		<div class="skeleton title-skeleton"></div>
		<div class="skeleton toggle-icon-skeleton"></div>
	</div>

	<!-- Inputfelder -->
	<div class="input-group-skeleton">
		<div class="skeleton label-skeleton"></div>
		<div class="skeleton input-skeleton"></div>
	</div>
	<div class="input-group-skeleton">
		<div class="skeleton label-skeleton"></div>
		<div class="skeleton input-skeleton"></div>
	</div>
	<div class="input-group-skeleton">
		<div class="skeleton label-skeleton"></div>
		<div class="skeleton input-skeleton"></div>
	</div>

</div>
